
**/.vs/**
**/bin/**
**/obj/**
*.obj
*.exe
!packages/**/*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.dbmdl
*.crc
*.vsmdi
*.docstates
*.startup
/[Bb]in/
/obj/
[Rr]elease*/
_ReSharper*/
!packages/*.config
*.vs10x
*.orig
*.datasource
*.DotSettings
*.DotSettings.user
*.ncrunch*

# Ignore intellij products
.idea/

# Ignore Visual Studio 14 (2015) files
.vs/

*.rdl.data

